django==2.2.11
django-taggit==1.2.0
django-loginas==0.3.8
django-admin-honeypot==1.1.0
pyodbc==4.0.28
mysqlclient==1.4.6
python-ldap==3.2.0
pycryptodome==3.9.4
requests==2.22.0
wemake-python-styleguide==0.13.3
