{% extends "home.html" %}
{% load ifusergroup humanize model_helpers %}
{% block extra_javascript %}
<script type="text/javascript">
$(function() {
  $.blockUI.defaults.css.top = '40%';
  $.blockUI.defaults.centerX = true;
  $.blockUI.defaults.centerY = true;
  //$.growlUI('Test', 'status: boo!');
  $(".proposal-status").click(function () {
    $.ajax({
      type: "POST",
      url: "{% url 'proposal_status' %}",
      data: {'status':$(this).data('status'),'pid':'{{proposal.id}}'},
      cache: false,
      beforeSend: function(){
        spinner.spin(target);
      },
      success: function(data) {
        spinner.stop(target);
        $.growlUI('Success', data);
      },
      error: function(data) {
        spinner.stop(target);
        $.growlUI('Error', data);
      }
    });
  });
  $('#print').click(function() {
    window.print();
    return false;
  });
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Proposal Detail
      <a href="#" id="print" class="no-print-icon">
        <i class="fa fa-print green blue-tooltip" aria-hidden="true"
          data-toggle="tooltip" data-placement="top"
          title="Print to paper or PDF"></i></a> |
      {% if osp or dean or user.is_superuser %}
      <a href="{% url 'proposal_approver' proposal.id %}"
        class="no-print-icon">
        <i class="fa fa-thumbs-o-up green blue-tooltip" aria-hidden="true"
          data-toggle="tooltip" data-placement="top"
          title="Add Approver to this proposal"></i></a> |
      {% endif %}
      <a href="{% url 'email_investigator_form' proposal.id 'email' %}"
        class="no-print-icon">
        <i class="fa fa-envelope green blue-tooltip" aria-hidden="true"
          data-toggle="tooltip" data-placement="top"
          title="Send Email to {{proposal.user.first_name}} {{proposal.user.last_name}}"></i></a>
    </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% if perms.approve %}
{% if not proposal.closed or not proposal.decline %}
{% if not proposal.level3 or not proposal.step2 and proposal.save_submit %}
  <div class="row mt-3 mb-2">
    <div class="col-lg-12 text-center">
      <div class="panel panel-default mb-3">
        <div class="panel-body">
        <a href="#" class="btn btn-default btn-success proposal-status p-2"
          style="width:128px;" data-status="approve">Approve</a>
        <a href="#" class="btn btn-default btn-warning proposal-status p-2"
          style="margin-left:24px;width:128px;" data-status="needswork">Needs Work</a>
        <a href="#" class="btn btn-default btn-danger proposal-status p-2"
          style="margin-left:24px;width:128px;" data-status="decline">Decline</a>
        </div>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
{% endif %}{% endif %}{% endif %}
<div class="row">
  {% if proposal.impact %}
  <div class="col-lg-6">
  {% else %}
  <div class="col-lg-8">
  {% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>
          Part A
          {% if request.user.id == proposal.user.id or perms.superuser %}
          {% if proposal.level3 or proposal.opened or perms.superuser %}
          {% if not proposal.decline and not proposal.closed %}
          <a href="{% url 'proposal_update' proposal.id %}"
            class="no-print-icon" style="float:right;color:#fff">
            <i class="fa fa-pencil" aria-hidden="true"
              title="Update Part A"></i></a>
          {% endif %}{% endif %}{% endif %}
        </h2>
        <h3 class="detail">
          Basic Proposal Elements
        </h3>
        <h4>What type of proposal submission is this?</h4>
        <h5>{{proposal.proposal_type}}</h5>
        {% if proposal.proposal_type_other %}
        <h4>If 'Other', please provide details</h4>
        <h5>{{proposal.proposal_type_other}}</h5>
        {% endif %}
        <h4>Funding Agency Name and Grant Program Name</h4>
        <h5>{{proposal.funding_agency_program_name}}</h5>
        <h4>What type of funding source is the granting agency?</h4>
        <h5>{{proposal.grant_agency_funding_source}}</h5>
        {% if proposal.grant_agency_funding_source_other %}
        <h4>If 'Other', please provide details</h4>
        <h5>{{proposal.grant_agency_funding_source_other}}</h5>
        {% endif %}
        <h4>Solicitation Website</h4>
        <h5>
          <a href="{{proposal.grant_agency_url}}">
            {{proposal.grant_agency_url}}
          </a>
        </h5>
        <h4>Proposal Deadline Date/Time</h4>
        <h5>
          {{proposal.grant_deadline_date}}
          {{proposal.grant_deadline_time}}
        </h5>
        <h3 class="clear detail">
          Investigator Information
        </h3>
        <dl class="clear dl-horizontal">
          <dt>Author</dt>
          <dd>
            <a href="mailto:{{proposal.user.email}}">
              {{proposal.user.last_name}}, {{proposal.user.first_name}}
            </a>
          </dd>
          <dt>Department</dt>
          <dd>{{proposal.get_department.name}}</dd>
        </dl>
        <h4>In this proposal, Carthage is considered:</h4>
        <h5>{{proposal.lead_institution}}</h5>
        <h4>Lead institution contact information</h4>
        <div>{{proposal.lead_institution_contact|safe}}</div>
        <h4>
        Co-Principal Investigators & Associated Institution
        </h4>
        <ul>
        {% for cp in co_principals %}
          {% if cp.name and cp.institution %}
          <li>{{cp.name}}&mdash;{{cp.institution}}</li>
          {% endif %}
        {% endfor %}
        </ul>
        <h3 class="clear detail">
        Project Overview
        </h3>
        <h4>Title</h4>
        <h5>{{proposal.title}}</h5>
        <h4>
          Dates
        </h4>
        <dl class="clear dl-horizontal">
          <dt>Start Date</dt>
          <dd>{{proposal.start_date}}</dd>
          <dt>End date</dt>
          <dd>{{proposal.end_date}}</dd>
        </dl>
        <h4>
          Project Type
        </h4>
        <h5>
          {{proposal.project_type}}
        </h5>
        {% if proposal.project_type_other %}
        <h4>If 'Other', please provide details</h4>
        <h5>{{proposal.project_type_other}}</h5>
        {% endif %}
        <h4>
          Summary
        </h4>
        <div>{{proposal.summary|safe}}</div>
        <h4>
          Total Program Cost
        </h4>
        <h5>
          ${{proposal.budget_total|intcomma}}
        </h5>
        <h4>
          Budget Summary
        </h4>
        <div>{{proposal.budget_summary|safe}}</div>
        {% if proposal.admin_comments %}
          <h4>Administrative Comments</h4>
          <div>{{proposal.admin_comments}}</div>
        {% endif %}
        {% if osp or dean or user.is_superuser %}
        <h3 class="clear detail">Approvers</h3>
        <ul>
        {% for a in proposal.approvers.all %}
        <li>{{a.last_name}}, {{a.first_name}}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <!-- fin -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  {% if proposal.impact %}
  <!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>
          Part B
          {% if request.user.id == proposal.user.id and not proposal.save_submit and proposal.level3 and not proposal.decline and not proposal.closed %}
          <a href="{% url 'impact_form' proposal.id %}"
            class="no-print-icon" style="float:right;color:#fff">
            <i class="fa fa-pencil" aria-hidden="true"
              title="Update Part B"></i></a>
          {% else %}{% if perms.superuser %}
          <a href="{% url 'impact_form' proposal.id %}"
            class="no-print-icon" style="float:right;color:#fff">
            <i class="fa fa-pencil" aria-hidden="true"
              title="Update Part B"></i></a>
          {% endif %}{% endif %}
        </h2>
        <h3 class="detail">
          Budget Data
        </h3>
        <div>
          <h4>{% field_name proposal.budget 'total' %}</h4>
          <h5>
            {% if proposal.budget.total %}
            ${{proposal.budget.total|intcomma}}
            {% else %}
             0
            {% endif %}
          </h5>
          <h4>{% field_name proposal.budget 'total_funding' %}</h4>
          <h5>
            {% if proposal.budget.total_funding %}
            ${{proposal.budget.total_funding|intcomma}}
            {% else %}
             0
            {% endif %}
          </h5>
          <h4>Describe other funds that will support this project.</h4>
          <div class="row">
           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 font-weight-bold">
            Amount
           </div>
           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 font-weight-bold">
            Source
           </div>
           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 font-weight-bold">
             Status
           </div>
          </div>
          {% for source in proposal.budget.funding.all %}
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {{source.amount|default_if_none:''}}
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {{source.source}}
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                {{source.status}}
              </div>
            </div>
          {% endfor %}
          <h4>{% field_name proposal.budget 'plan_b' %}</h4>
          <div>{{proposal.budget.plan_b|safe}}</div>
          <h4>
            {% field_name proposal.budget 'budget_final' %}
            {% if proposal.budget.budget_final %}
            <a href="https://{{server_url}}{{media_url}}/{{proposal.budget.budget_final}}">
            <i class="fa fa-file-pdf-o red" aria-hidden="true"></i></a>
            {% else %}
            Missing
            {% endif %}
          </h4>
          <h4> {% field_name proposal.budget 'budget_justification_final' %} {% if proposal.budget.budget_justification_final %}
            <a href="https://{{server_url}}{{media_url}}/{{proposal.budget.budget_justification_final}}">
            <i class="fa fa-file-pdf-o red" aria-hidden="true"></i></a>
            {% else %}
            &mdash; Missing
            {% endif %}
          </h4>
        </div>
        <h3 class="detail">
          Institutional Impacts
        </h3>
        <div>
          {% for field in impacts %}
            {% if field.name not in excludes %}
              <h4>{{field.label}}</h4>
              {% if field.name == 'subcontracts' %}
              {% for sub in proposal.impact.subcontracts.all %}
              {{sub.name}}{% if not forloop.last %}, {% endif %}
              {% endfor %}
              {% else %}
              <div>{{field.value|safe|default_if_none:''}}</div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        <h3 class="detail">
          Additional Information
        </h3>
        {% if proposal.comments %}
          <h4>Comments</h4>
          <div>{{proposal.comments|safe}}</div>
        {% endif %}
        {% if proposal.impact.admin_comments %}
          <h4>Administrative Comments</h4>
          <div>{{proposal.impact.admin_comments|safe}}</div>
        {% endif %}
        <h3 class="detail">
          Additional Documents
        </h3>
        <ul>
        {% for d in proposal.documents.all %}
          {% if d.phile %}
          <li>
            <h5><a href="https://{{server_url}}{{media_url}}{{d.phile}}">{{d.name}}</a>
            <i class="fa fa-file-pdf-o red" aria-hidden="true"></i></h5>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
        <!-- fin -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
  {% endif %}
</div>
<!-- /.row -->
{% endblock content %}
