{% extends "home.html" %}
{% load ifusergroup humanize model_helpers %}
{% block extra_javascript %}
<script type="text/javascript">
$(function() {
  $(".proposal-status").click(function () {
    $.ajax({
      type: "POST",
      url: "{% url 'proposal_status' %}",
      data: {'status':$(this).data('status'),'pid':'{{proposal.id}}'},
      cache: false,
      beforeSend: function(){
        spinner.spin(target);
      },
      success: function(data) {
        spinner.stop(target);
        $.growlUI(data);
      },
      error: function(data) {
        spinner.stop(target);
        $.growlUI('Error', data);
      }
    });
    //$.growlUI('Test', 'status: ' + $(this).data('status'));
  });
  $('#print').click(function() {
    window.print();
    return false;
  });
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Proposal Detail
      <a href="#" id="print" class="no-print-icon">
        <i class="fa fa-print green blue-tooltip" aria-hidden="true"
          data-toggle="tooltip" data-placement="top"
          title="Print to paper or PDF"></i></a> |
      {% ifusergroup osp_group deans_group %}
      <a href="{% url 'proposal_approver' proposal.id %}"
        class="no-print-icon">
        <i class="fa fa-thumbs-o-up green blue-tooltip" aria-hidden="true"
          data-toggle="tooltip" data-placement="top"
          title="Add Approver to this proposal"></i></a> |
      {% endifusergroup %}
      <a href="{% url 'email_investigator_form' proposal.id 'email' %}"
        class="no-print-icon">
        <i class="fa fa-envelope green blue-tooltip" aria-hidden="true"
          data-toggle="tooltip" data-placement="top"
          title="Send Email to {{proposal.user.first_name}} {{proposal.user.last_name}}"></i></a>
    </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% if perms.approve %}
{% if not proposal.closed or not proposal.decline %}
{% if not proposal.step1 or not proposal.step2 and proposal.save_submit %}
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="panel panel-default mb-3">
        <div class="panel-body">
        <a href="#" class="btn btn-default btn-success proposal-status"
          style="width:128px;" data-status="approve">Approve</a>
        <a href="#" class="btn btn-default btn-warning proposal-status"
          style="margin-left:24px;width:128px;" data-status="needswork">Needs Work</a>
        <a href="#" class="btn btn-default btn-danger proposal-status"
          style="margin-left:24px;width:128px;" data-status="decline">Decline</a>
        </div>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
{% endif %}{% endif %}{% endif %}
<div class="row">
  {% if proposal.proposal_impact %}
  <div class="col-lg-6">
  {% else %}
  <div class="col-lg-8">
  {% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>
          Part A
          {% if request.user.id == proposal.user.id or perms.superuser %}
          {% if proposal.step1 or proposal.opened or perms.superuser %}
          {% if not proposal.decline and not proposal.closed %}
          <a href="{% url 'proposal_update' proposal.id %}"
            class="no-print-icon" style="float:right;color:#fff">
            <i class="fa fa-pencil" aria-hidden="true"
              title="Update Part A"></i></a>
          {% endif %}{% endif %}{% endif %}
        </h2>
        <h3 class="detail">
          Basic Proposal Elements
        </h3>
        <h4>What type of proposal submission is this?</h4>
        <h5>{{proposal.proposal_type}}</h5>
        {% if proposal.proposal_type_other %}
        <h4>If 'Other', please provide details</h4>
        <h5>{{proposal.proposal_type_other}}</h5>
        {% endif %}
        <h4>Funding Agency Name and Grant Program Name</h4>
        <h5>{{proposal.funding_agency_program_name}}</h5>
        <h4>What type of funding source is the granting agency?</h4>
        <h5>{{proposal.grant_agency_funding_source}}</h5>
        {% if proposal.grant_agency_funding_other %}
        <h4>If 'Other', please provide details</h4>
        <h5>{{proposal.grant_agency_funding_other}}</h5>
        {% endif %}
        <h4>Solicitation Website</h4>
        <h5>
          <a href="{{proposal.grant_agency_url}}">
            {{proposal.grant_agency_url}}
          </a>
        </h5>
        <h4>Proposal Deadline Date/Time</h4>
        <h5>
          {{proposal.grant_deadline_date}}
          {{proposal.grant_deadline_time}}
        </h5>
        <h3 class="clear detail">
          Investigator Information
        </h3>
        <dl class="clear dl-horizontal">
          <dt>Author</dt>
          <dd>
            <a href="mailto:{{proposal.user.email}}">
              {{proposal.user.last_name}},
              {{proposal.user.first_name}}
            </a>
          </dd>
          <dt>Department</dt>
          <dd>
            {{proposal.department}}
          </dd>
        </dl>
        <h4>
          Is Carthage College the lead institution on this project?
        </h4>
        <h5>{{proposal.lead_institution}}</h5>
        {% if proposal.lead_institution == 'No' %}
          <h4>Lead Institution Name</h4>
          <h5>{{proposal.lead_institution_name}}</h5>
          <h4>Lead Institution Contact</h4>
          <div>
            {{proposal.lead_institution_contact}}
          </div>
        {% endif %}
        {% if institutions %}
          <h4>All Institutions Involved</h4>
          <ul>
          {% for inst in institutions %}
            {% if inst.institution %}
            <li>{{inst.institution}}</li>
            {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
        <h4>
        Co-Principal Investigators & Associated Institution
        </h4>
        <ul>
        {% for cp in co_principals %}
          {% if cp.name and cp.institution %}
          <li>{{cp.name}}&mdash;{{cp.institution}}</li>
          {% endif %}
        {% endfor %}
        </ul>
        <h3 class="clear detail">
        Project Overview
        </h3>
        <h4>Title</h4>
        <h5>{{proposal.title}}</h5>
        <h4>
          Dates
        </h4>
        <dl class="clear dl-horizontal">
          <dt>Start Date</dt>
          <dd>{{proposal.start_date}}</dd>
          <dt>End date</dt>
          <dd>{{proposal.end_date}}</dd>
        </dl>
        <h4>
          Project Type
        </h4>
        <h5>
          {{proposal.project_type}}
        </h5>
        <h4>
          Summary
        </h4>
        <div>{{proposal.summary|safe}}</div>
        <h4>
          Is this one year funding or multi-year?
        </h4>
        <h5>
          {{proposal.time_frame}}
        </h5>
        <h4>
          Total Budget Request
        </h4>
        <h5>
          ${{proposal.budget_total|intcomma}}
        </h5>
        <h4>
          Budget Summary
        </h4>
        <div>{{proposal.budget_summary|safe}}</div>
        {% if proposal.proposal_impact.admin_comments %}
          <h4>Administrative Comments</h4>
          <h5>{{proposal.proposal_impact.admin_comments}}</h5>
        {% endif %}
        {% ifusergroup osp_group deans_group %}
        <h3 class="clear detail">Approvers</h3>
        <ul>
        {% for a in proposal.approvers.all %}
        <li>{{a.last_name}}, {{a.first_name}}</li>
        {% endfor %}
        </ul>
        {% endifusergroup %}
        <!-- fin -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  {% if proposal.proposal_impact %}
  <!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>
          Part B
          {% if request.user.id == proposal.user.id and not proposal.save_submit and proposal.step1 and not proposal.decline and not proposal.closed %}
          <a href="{% url 'impact_form' proposal.id %}"
            class="no-print-icon" style="float:right;color:#fff">
            <i class="fa fa-pencil" aria-hidden="true"
              title="Update Part B"></i></a>
          {% else %}{% if perms.superuser %}
          <a href="{% url 'impact_form' proposal.id %}"
            class="no-print-icon" style="float:right;color:#fff">
            <i class="fa fa-pencil" aria-hidden="true"
              title="Update Part B"></i></a>
          {% endif %}{% endif %}
        </h2>
        <h3 class="detail">
          Budget Data
        </h3>
        <div>
          <h4>Total budget request</h4>
          <h5>
            {% if proposal.proposal_budget.total %}
            ${{proposal.proposal_budget.total|intcomma}}
            {% else %}
             0
            {% endif %}
          </h5>
          <h4>Total funding request</h4>
          <h5>
            {% if proposal.proposal_budget.total_funding %}
            ${{proposal.proposal_budget.total_funding|intcomma}}
            {% else %}
             0
            {% endif %}
          </h5>
          <h4>What is Indirect Cost Rate Used?</h4>
          <h5>{{proposal.proposal_budget.indirect_cost_rate}}</h5>
          {% if proposal.proposal_budget.indirect_cost_rate == 'Other' %}
          <h4>If 'Other', please specify the rate</h4>
          {% endif %}
          <h5>{{proposal.proposal_budget.indirect_cost_rate_other}}</h5>
          <h4>
            Final Budget for Review:
            {% if proposal.proposal_budget.budget_final %}
            <a href="https://{{server_url}}{{media_url}}/{{proposal.proposal_budget.budget_final}}">
            <i class="fa fa-file-pdf-o red" aria-hidden="true"></i></a>
            {% else %}
            Missing
            {% endif %}
          </h4>
          <h4>
            Final Budget Justification for Review:
            {% if proposal.proposal_budget.budget_justification_final %}
            <a href="https://{{server_url}}{{media_url}}/{{proposal.proposal_budget.budget_justification_final}}">
            <i class="fa fa-file-pdf-o red" aria-hidden="true"></i></a>
            {% else %}
            Missing
            {% endif %}
          </h4>
        </div>
        <h3 class="detail">
          Institutional Impacts
        </h3>
        <div>
          <h4>{% field_name proposal.proposal_impact 'cost_share_match' %}</h4>
          <h5>{{proposal.proposal_impact.cost_share_match}}</h5>
          <div>{{proposal.proposal_impact.cost_share_match_detail|default_if_none:''}}</div>
          <h4>{% field_name proposal.proposal_impact 'funds' %}</h4>
          <h5>{{proposal.proposal_impact.funds}}</h5>
          <h4>{% field_name proposal.proposal_impact 'indirect_funds_solicitation' %}</h4>
          <h5>{{proposal.proposal_impact.indirect_funds_solicitation}}</h5>
          <div>
            {{proposal.proposal_impact.indirect_funds_solicitation_detail|default_if_none:''}}
          </div>
          <h4>{% field_name proposal.proposal_impact 'voluntary_committment' %}</h4>
          <h5>{{proposal.proposal_impact.voluntary_committment}}</h5>
          <div>
            {{proposal.proposal_impact.voluntary_committment_detail|default_if_none:''}}
          </div>
          <h4>{% field_name proposal.proposal_impact 'human_subjects' %}</h4>
          <h5>{{proposal.proposal_impact.human_subjects}}</h5>
          <div>
            {{proposal.proposal_impact.human_subjects_detail|default_if_none:''}}
          </div>
          <h4>{% field_name proposal.proposal_impact 'animal_subjects' %}</h4>
          <h5>{{proposal.proposal_impact.animal_subjects}}</h5>
          <div>
            {{proposal.proposal_impact.animal_subjects_detail|default_if_none:''}}
          </div>
          <h4>{% field_name proposal.proposal_impact 'subcontractors_subawards' %}</h4>
          <h5>{{proposal.proposal_impact.subcontractors_subawards}}</h5>
          <div>
            {{proposal.proposal_impact.subcontractors_subawards_detail|default_if_none:''}}
          </div>
          <h4>{% field_name proposal.proposal_impact 'additional_work_load' %}</h4>
          <h5>{{proposal.proposal_impact.additional_work_load}}</h5>
          <div>
            {{proposal.proposal_impact.additional_work_load_detail|default_if_none:''}}
          </div>
          <h4>{% field_name proposal.proposal_impact 'personnel_salary' %}</h4>
          <h5>{{proposal.proposal_impact.personnel_salary}}</h5>
          <h4>{% field_name proposal.proposal_impact 'contract_procurement' %}</h4>
          <h5>{{proposal.proposal_impact.contract_procurement}}</h5>
          <div>
            {{proposal.proposal_impact.contract_procurement_detail|default_if_none:''}}
          </div>
          <h4>{% field_name proposal.proposal_impact 'students_involved' %}</h4>
          <h5>{{proposal.proposal_impact.students_involved}}</h5>
          <div>
            {{proposal.proposal_impact.students_involved_detail|default_if_none:''}}
          </div>
          <h4>{% field_name proposal.proposal_impact 'new_hires' %}</h4>
          <h5>{{proposal.proposal_impact.new_hires}}</h5>
          <h4>{% field_name proposal.proposal_impact 'course_relief' %}</h4>
          <h5>{{proposal.proposal_impact.course_relief}}</h5>
          <h4>{% field_name proposal.proposal_impact 'service_overload' %}</h4>
          <h5>{{proposal.proposal_impact.service_overload}}</h5>
          <h4>{% field_name proposal.proposal_impact 'irb_review' %}</h4>
          <h5>{{proposal.proposal_impact.irb_review}}</h5>
          <h4>{% field_name proposal.proposal_impact 'iacuc_review' %}</h4>
          <h5>{{proposal.proposal_impact.iacuc_review}}</h5>
          <h4>{% field_name proposal.proposal_impact 'international' %}</h4>
          <h5>{{proposal.proposal_impact.international}}</h5>
          <div>
            {{proposal.proposal_impact.international_detail|default_if_none:''}}
          </div>
          <h4>{% field_name proposal.proposal_impact 'hazards' %}</h4>
          <h5>{{proposal.proposal_impact.hazards}}</h5>
          <div>
            {{proposal.proposal_impact.hazards_detail|default_if_none:''}}
          </div>
          <h4>{% field_name proposal.proposal_impact 'proprietary_confidential' %}</h4>
          <h5>{{proposal.proposal_impact.proprietary_confidential}}</h5>
          <div>
            {{proposal.proposal_impact.proprietary_confidential_detail|default_if_none:''}}
          </div>
          <h4>{% field_name proposal.proposal_impact 'tech_support' %}</h4>
          <h5>{{proposal.proposal_impact.tech_support}}</h5>
          <div>
            {{proposal.proposal_impact.tech_support_detail|default_if_none:''}}
          </div>
          <h4>{% field_name proposal.proposal_impact 'purchase_equipment' %}</h4>
          <h5>{{proposal.proposal_impact.purchase_equipment}}</h5>
          <div>
            {{proposal.proposal_impact.purchase_equipment_detail|default_if_none:''}}
          </div>
          <h4>{% field_name proposal.proposal_impact 'infrastructure_requirements' %}</h4>
          <h5>{{proposal.proposal_impact.infrastructure_requirements}}</h5>
          <div>
            {{proposal.proposal_impact.infrastructure_requirements_detail|default_if_none:''}}
          </div>
          <h4>{% field_name proposal.proposal_impact 'data_management' %}</h4>
          <h5>{{proposal.proposal_impact.data_management}}</h5>
          <div>
            {{proposal.proposal_impact.data_management_detail|default_if_none:''}}
          </div>
        </div>
        <h3 class="detail">
          Additional Information
        </h3>
        {% if proposal.comments %}
          <h4>Comments</h4>
          <h5>{{proposal.comments|safe}}</h5>
        {% endif %}
        {% if proposal.proposal_impact.admin_comments %}
          <h4>Administrative Comments</h4>
          <h5>{{proposal.proposal_impact.admin_comments|safe}}</h5>
        {% endif %}
        <h3 class="detail">
          Additional Documents
        </h3>
        <ul>
        {% for d in proposal.proposal_documents.all %}
          {% if d.phile %}
          <li>
            <h5><a href="https://{{server_url}}{{media_url}}{{d.phile}}">{{d.name}}</a>
            <i class="fa fa-file-pdf-o red" aria-hidden="true"></i></h5>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
        <!-- fin -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
  {% endif %}
</div>
<!-- /.row -->
{% endblock content %}
