{% autoescape off %}
{% load livewhale_api %}
{% if data.division_approved and data.department_approved %}
    <h3>Proposal Approved!</h3>
    {% get_lw_content as approved blurbs 2249 %}
    {{approved.body}}
{% endif %}
<h3>Funding Proposal</h3>
<dl style="margin-bottom:5px">
    <dt style="background:#3ab0c8;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px">
        First name
    </dt>
    <dd style="margin:2px 0;padding:5px 0">
        {{data.user.first_name}}
    </dd>
    <dt style="background:#3ab0c8;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px">
        Last name
    </dt>
    <dd style="margin:2px 0;padding:5px 0">
        {{data.user.last_name}}
    </dd>
    <dt style="background:#3ab0c8;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px">
        Department
    </dt>
    <dd style="margin:2px 0;padding:5px 0">
        {{data.department}}
    </dd>
</dl>
<h4>Title</h4>
<p>{{data.title}}</p>
<h4>Summary</h4>
<div>
{{data.summary}}
</div>
<h4>Do you have a funding source?</h4>
{% if data.funding %}Yes{% else %}No{% endif %}
{% if data.chairs %}
<h4>Chairs</h4>
{{data.chairs}}
{% endif %}
<p>
    <a href="{{data.get_update_url}}">
        Update this Proposal
    </a>
</p>
{% endautoescape %}
