{% autoescape off %}
<h3>Funding Proposal</h3>
<dl {{dl_detail}}>
    <dt {{dl_dt}}>
        First name
    </dt>
    <dd {{dl_dd}}>
        {{data.user.first_name}}
    </dd>
    <dt {{dl_dt}}>
        Last name
    </dt>
    <dd {{dl_dd}}>
        {{data.user.last_name}}
    </dd>
    <dt {{dl_dt}}>
        Department
    </dt>
    <dd {{dl_dd}}>
        {{data.department}}
    </dd>
</dl>
<h4>Title</h4>
<p>{{data.title}}</p>
<h4>Summary</h4>
<div>
{{data.summary}}
</div>
<h4>Do you have a funding source?</h4>
{% if data.funding %}Yes{% else %}No{% endif %}
{% if django_debug %}
<h4>Chairs</h4>
{% endif %}
{{data.chairs}}
<p>
    <a href="https://{% server_url%}{{data.get_update_url %}">
        Update this Proposal
    </a>
</p>
{% endautoescape %}
