{% load livewhale_api %}
{% autoescape off %}
{% block message %}
{% get_lw_content as email blurbs 2405 %}
{{email.body|safe}}
{% endblock %}
{% block proposal %}
<h3>
  <a href="{{data.get_absolute_url}}">
    Click Here to Review This Submission
  </a>
</h3>
<h3>Title</h3>
<p>{{data.title}}</p>
<dl style="margin-bottom:5px">
    <dt style="background:#3ab0c8;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px">
        First name
    </dt>
    <dd style="margin:2px 0;padding:5px 0">
        {{data.user.first_name}}
    </dd>
    <dt style="background:#3ab0c8;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px">
        Last name
    </dt>
    <dd style="margin:2px 0;padding:5px 0">
        {{data.user.last_name}}
    </dd>
    <dt style="background:#3ab0c8;color:#fff;float:left;font-weight:bold;margin-right:10px;padding:5px;width:200px">
        Department
    </dt>
    <dd style="margin:2px 0;padding:5px 0">
      {{data.get_department.name}}
    </dd>
</dl>
{% if data.to_list %}
  <p>
    <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=14&id=2405"
      target="_blank">Manage the content above in LiveWhale</a><br>
    <a href="https://{{server_url}}{% url 'clear_cache_get' %}?cid=2405" class="clear-cache">
      Clear the cache for this content</a>
  </p>
to_list = {{data.to_list}}<br>
group =  {{data.osp}}
{% endif %}
{% endblock %}
{% endautoescape %}
