{% extends "home.html" %}
{% load livewhale_api %}
{% block extra_javascript %}
{{ block.super }}
<script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js"
  type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function() {
    // binary switch to show/hide fields that depend on the value
    // of the previous question
    function binarySwitch(val, bswitch, domids, trigger) {
        if (val == bswitch) {
            for (index = 0; index < domids.length; ++index) {
                domids[index].slideDown();
                trigger.addClass("details");
            }
        }else{
            for (index = 0; index < domids.length; ++index) {
                domids[index].slideUp();
                trigger.removeClass("details");
            }
        }
    }

    // What type of project is this?
    var $project_type = $('#id_project_type').closest('li');
    var $project_type_other = $('#id_project_type_other').closest('li');
    {% if form.project_type.value != 'Other' %}
    $project_type_other.slideUp();
    {% else %}
    $project_type_other.addClass("details");
    {% endif %}
    $('#id_project_type').on('change', function (e){
      var domArray = [$project_type_other]
      binarySwitch(this.value, 'Other', domArray, $project_type_other);
      if (this.value == 'Other') {
        $('#id_project_type_other').addClass('required');
      }else{
        $('#id_project_type_other').removeClass('required');
      }
    })

    // What type of proposal submission is this?
    var $proposal_type = $('#id_proposal_type').closest('li');
    var $proposal_type_other = $('#id_proposal_type_other').closest('li');
    {% if form.proposal_type.value != 'Other' %}
    $proposal_type_other.slideUp();
    {% else %}
    $proposal_type_other.addClass("details");
    {% endif %}
    $('#id_proposal_type').on('change', function (e){
      var domArray = [$proposal_type_other]
      binarySwitch(this.value, 'Other', domArray, $proposal_type_other);
      console.log(this.value);
      if (this.value == 'Other') {
        console.log('here other');
        $('#id_proposal_type_other').addClass('required');
      }else{
        $('#id_proposal_type_other').removeClass('required');
      }
    })

    // What type of funding source is the granting agency?
    var $grant_agency_funding_source = $('#id_grant_agency_funding_source').closest('li');
    var $grant_agency_funding_source_other = $('#id_grant_agency_funding_source_other').closest('li');
    {% if form.grant_agency_funding_source.value != 'Other' %}
    $grant_agency_funding_source_other.slideUp();
    {% else %}
    $grant_agency_funding_source_other.addClass("details");
    {% endif %}
    $('#id_grant_agency_funding_source').on('change', function (e){
      var domArray = [$grant_agency_funding_source_other ]
      binarySwitch(this.value, 'Other', domArray, $grant_agency_funding_source_other);
      if (this.value == 'Other') {
        $('#id_grant_agency_funding_source_other').addClass('required');
      }else{
        $('#id_grant_agency_funding_source_other').removeClass('required');
      }
    })
    // jquery datepicker on all fields whose DOM ID
    // begins with id_ and ends with _date
    $('[id^=id_][id$=_date]').datepicker({
        firstDay:1,appendText:'(format yyyy-mm-dd)',
        changeFirstDay:false,dateFormat:'yy-mm-dd',
        showOn:'both',
        buttonImage:'//www.carthage.edu/themes/shared/img/ico/calendar.gif',
        buttonImageOnly:true
    });
    // disable submit button after users clicks it
    //$('form#profile').bind('submit', function (e) {
    $('form#profile').on('submit', function (e) {
        $('#id_submit').prop('disabled', true);
        return true;
    });
  });
</script>
{% endblock %}
{% block extra_style %}
    {{block.super}}
    <link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
        rel="stylesheet" type="text/css" />
    <style type="text/css">
    .note-editor{
        width:500px;background: #fff;
        border: solid 1px #ccc;
    }
    li.ctrlHolder div ul.ul-block li {
        font-weight:bold;color:#8a1f11;display:block;
        list-style-type:disc;
    }
    li.ctrlHolder div ul.ul-block li:before {
        content: "• ";
        color: #8a1ff1;
    }
    form.form h3 {font-size:18px;margin-bottom:3px;}
    form.form fieldset ol li.details {background-color:#efefef !important;}
    </style>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Routing &amp; Authorization: Part A &mdash; Intent to Pursue
    </h1>
    {% if messages %}
      {% for message in messages %}
      <div id="messages" class="{{ message.tags }} large-12 medium-12 small-12">
        <strong>{{ message }}</strong>
      </div>
      {% endfor %}
    {% endif %}
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-10">
    <div class="panel panel-default">
      <div class="panel-body" id="proposals-data-panel">
        {% get_lw_content as intro blurbs 2246 %}
        <div id="lw_success_2246">{{intro.body|safe}}</div>
        {% if osp %}
        <p>
          <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=2246"
            target="_blank">
            <i class="fa fa-pencil green" aria-hidden="true"
            title="Manage the content above in LiveWhale"></i></a>
          <a href="#" data-cid="2246" data-target="lw_success_2246" class="clear-cache">
            <i class="fa fa-refresh green" aria-hidden="true"
            title="Clear the cache for this content"></i></a>
        </p>
        {% endif %}
        {% include "includes/required_text.html" %}
        {% include "includes/errors_text.html" %}
        <form method="post" enctype="multipart/form-data" action="."
          class="form" id="profile">
        {% csrf_token %}
        <fieldset class="blockLabels">
          <legend>Basic Proposal Elements</legend>
          <ol>
          {% for field in form.visible_fields %}
            {% if field.name == "title" %}
            <li style="padding-left:3px;">
              <h3>
                List all associated institutions and co-PIs
              </h3>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="text" name="investi-name1" class="large" placeholder="Name"
                    value="{{form_investi.name1.value|default_if_none:""}}">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="text" name="investi-institution1" class="large" placeholder="Institution"
                    value="{{form_investi.institution1.value|default_if_none:""}}">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="text" name="investi-name2" class="large" placeholder="Name"
                    value="{{form_investi.name2.value|default_if_none:""}}">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="text" name="investi-institution2" class="large" placeholder="Institution"
                    value="{{form_investi.institution2.value|default_if_none:""}}">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="text" name="investi-name3" class="large" placeholder="Name"
                    value="{{form_investi.name3.value|default_if_none:""}}">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="text" name="investi-institution3" class="large" placeholder="Institution"
                    value="{{form_investi.institution3.value|default_if_none:""}}">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="text" name="investi-name4" class="large" placeholder="Name"
                    value="{{form_investi.name4.value|default_if_none:""}}">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="text" name="investi-institution4" class="large" placeholder="Institution"
                    value="{{form_investi.institution4.value|default_if_none:""}}">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="text" name="investi-name5" class="large" placeholder="Name"
                    value="{{form_investi.name5.value|default_if_none:""}}">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="text" name="investi-institution5" class="large" placeholder="Institution"
                    value="{{form_investi.institution5.value|default_if_none:""}}">
                </div>
              </div>
            </li>
            </ol>
            </fieldset>
            <fieldset class="blockLabels">
            <legend>Proposal Overview</legend>
            <ol>
            {% endif %}
            {% if field.name == 'admin_comments' and not perms.approve  %}
            {% else %}
            {% include "form_field.inc.html" %}
            {% endif %}
          {% endfor %}
          </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
        </form>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-8 -->
</div>
<!-- /.row -->
{% endblock %}
