{% extends "home.html" %}
{% load livewhale_api %}
{% block extra_javascript %}
<script src="//www.carthage.edu/static/vendor/summernote/summernote.min.js"
  type="text/javascript" charset="utf-8"></script>
<script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js"
  type="text/javascript" charset="utf-8"></script>
<script src="//www.carthage.edu/static/vendor/jquery/plugins/ptTimeSelect/src/jquery.ptTimeSelect.js"
    type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $('textarea').summernote({height: 200});
    $(".required > input").addClass("required");
    $(".required > select").addClass("required");
    $(".required > textarea").addClass("required");
    $(".required > textarea").parent().parent().find('h3').addClass("required");
    $(".warning > input").addClass("error");
    $(".warning > select").addClass("error");
    $(".warning > textarea").addClass("error");
    $(".required > ul").parent().parent().find('h3').addClass("required");

    // binary switch to show/hide fields that depend on the value
    // of the previous question
    function binarySwitch(val, bswitch, domids, trigger) {
        if (val == bswitch) {
            for (index = 0; index < domids.length; ++index) {
                domids[index].slideDown();
                trigger.addClass("details");
            }
        }else{
            for (index = 0; index < domids.length; ++index) {
                domids[index].slideUp();
                trigger.removeClass("details");
            }
        }
    }

    // What type of proposal submission is this?
    var $proposal_type = $('#id_proposal_type').closest('li');
    var $proposal_type_other = $('#id_proposal_type_other').closest('li');
    {% if form.proposal_type.value != 'Other' %}
    $proposal_type_other.slideUp();
    {% endif %}
    $('#id_proposal_type').on('change', function (e){
      var domArray = [
        $proposal_type_other
      ]
      binarySwitch(this.value, 'Other', domArray, $proposal_type_other);
      if (this.value == 'Other') {
        $('#id_proposal_type_other').addClass('required');
      }else{
        $('#id_proposal_type_other').removeClass('required');
      }
    })

    // What type of funding source is the granting agency?
    var $grant_agency_funding_source = $('#id_grant_agency_funding_source').closest('li');
    var $grant_agency_funding_other = $('#id_grant_agency_funding_other').closest('li');
    {% if form.grant_agency_funding_source.value != 'Other' %}
    $grant_agency_funding_other.slideUp();
    {% endif %}
    $('#id_grant_agency_funding_source').on('change', function (e){
      var domArray = [
        $grant_agency_funding_other
      ]
      binarySwitch(this.value, 'Other', domArray, $grant_agency_funding_other);
      if (this.value == 'Other') {
        $('#id_grant_agency_funding_other').addClass('required');
      }else{
        $('#id_grant_agency_funding_other').removeClass('required');
      }
    })

    // Who is required to submit the final submission?
    var $proposal_submission_entity = $('#id_proposal_submission_entity').closest('li');
    var $proposal_submission_entity_other = $('#id_proposal_submission_entity_other').closest('li');
    {% if form.proposal_submission_entity.value != 'Other' %}
    $proposal_submission_entity_other.slideUp();
    {% endif %}
    $('input[name=proposal_submission_entity]').click(function(){
      var domArray = [
        $proposal_submission_entity_other
      ]
      binarySwitch($(this).val(), 'Other', domArray, $proposal_submission_entity_other);
      if (this.value == 'Other') {
        $('#id_proposal_submission_entity_other').addClass('required');
      }else{
        $('#id_proposal_submission_entity_other').removeClass('required');
      }
    })

    // How is the proposal to be submitted?
    var $proposal_submission_method = $('#id_proposal_submission_method').closest('li');
    var $proposal_submission_method_other = $('#id_proposal_submission_method_other').closest('li');
    {% if form.proposal_submission_method.value != 'Other' %}
    $proposal_submission_method_other.slideUp();
    {% endif %}
    $('input[name=proposal_submission_method]').click(function(){
      var domArray = [
        $proposal_submission_method_other
      ]
      binarySwitch($(this).val(), 'Other', domArray, $proposal_submission_method_other);
      if (this.value == 'Other') {
        $('#id_proposal_submission_method_other').addClass('required');
      }else{
        $('#id_proposal_submission_method_other').removeClass('required');
      }
    })

    // Are other institutions involved?
    var $partner_institutions = $('#id_partner_institutions').closest('li');
    var $lead_institution = $('#id_lead_institution').closest('li');
    var $institutions_involved = $('#institutions-involved');
    // if 'yes' and not lead
    var $lead_institution_name = $('#id_lead_institution_name').closest('li');
    var $lead_institution_contact = $('#id_lead_institution_contact').closest('li');
    $lead_institution.addClass("details");
    {% if form.partner_institutions.value != 'Yes' %}
    $lead_institution.slideUp();
    $institutions_involved.slideUp()
    {% endif %}
    $('input[name=partner_institutions]').click(function(){
      var domArray = [
        $lead_institution
      ]
      binarySwitch($(this).val(), 'Yes', domArray, $partner_institutions);
      if ($(this).val() == 'No'){
        $('input[name=lead_institution]').prop('checked', false);
        $lead_institution_name.slideUp();
        $lead_institution_contact.slideUp();
        $institutions_involved.slideUp()
        $lead_institution.find('h3').removeClass('required');
      }else{
        $institutions_involved.slideDown()
        $lead_institution.find('h3').addClass('required');
      }
    })

    // Is Carthage College the lead institution on this project?
    $lead_institution.addClass("details");
    $lead_institution_name.addClass("details");
    $lead_institution_contact.addClass("details");
    {% if form.lead_institution.value != 'No' %}
    $lead_institution_name.slideUp();
    $lead_institution_contact.slideUp();
    {% endif %}
    $('input[name=lead_institution]').click(function(){
      var domArray = [
        $lead_institution_name,
        $lead_institution_contact
      ]
      binarySwitch($(this).val(), 'No', domArray, $lead_institution_name);
      if ($(this).val() == 'No'){
        $('#id_lead_institution_name').addClass('required');
        $('#id_lead_institution_contact').addClass('required');
        $lead_institution_contact.find('h3').addClass('required');
      }else{
        $('#id_lead_institution_name').removeClass('required');
        $lead_institution_contact.find('h3').removeClass('required');
      }
    })

    // jquery datepicker on all fields whose DOM ID
    // begins with id_ and ends with _date
    $('[id^=id_][id$=_date]').datepicker({
        firstDay:1,appendText:'(format yyyy-mm-dd)',
        changeFirstDay:false,dateFormat:'yy-mm-dd',
        showOn:'both',
        buttonImage:'//www.carthage.edu/themes/shared/img/ico/calendar.gif',
        buttonImageOnly:true
    });
    // jquery timepicker
    $('#id_grant_deadline_time').ptTimeSelect();
  });
</script>
{% endblock %}
{% block extra_style %}
    {{block.super}}
    <link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
        rel="stylesheet" type="text/css" />
    <link href="//www.carthage.edu/static/vendor/summernote/summernote.css"
        rel="stylesheet" type="text/css" />
    <link href="//www.carthage.edu/static/vendor/jquery/plugins/ptTimeSelect/src/jquery.ptTimeSelect.css"
        rel="stylesheet" type="text/css" />
    <style type="text/css">
    #ptTimeSelectCntr {color: #303030;background: #ebebeb;
    font: .74em Arial, Verdana, sans-serif;text-align: center;
    line-height: 1.6em;margin: 2.5em 0;}
    .note-editor{
        width:500px;background: #fff;
        border: solid 1px #ccc;
    }
    li.ctrlHolder div ul.ul-block li {
        font-weight:bold;color:#8a1f11;display:block;
        list-style-type:disc;
    }
    li.ctrlHolder div ul.ul-block li:before {
        content: "• ";
        color: #8a1ff1;
    }
    form.form h3 {font-size:18px;margin-bottom:3px;}
    form.form fieldset ol li.details {background-color:#efefef !important;}
    </style>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Proposal Form: Part A
    </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-body" id="proposals-data-panel">
        {% get_lw_content as intro blurbs 2246 %}
        {{intro.body}}
        {% include "includes/required_text.html" %}
        {% include "includes/errors_text.html" %}
        <form method="post" enctype="multipart/form-data" action="."
          class="form" id="profile">
        {% csrf_token %}
        <fieldset class="blockLabels">
          <legend>Basic Proposal Elements</legend>
          <ol>
          {% for field in form.visible_fields %}
            {% if field.name == "phone" %}
              </ol>
              </fieldset>
              <fieldset class="blockLabels">
                <legend>Investigator Information</legend>
                <ol>
            {% endif %}
            {% if field.name == "lead_institution" %}
            <li class="form-group ctrlHolder details" id="institutions-involved">
              <div class="col-md-4">
                <h3>List all institutions involved</h3>
                <input type="text" name="institu-institution_1" class="large"
                  value="{{form_institu.institution_1.value|default_if_none:""}}">
                <input type="text" name="institu-institution_2" class="large"
                  value="{{form_institu.institution_2.value|default_if_none:""}}">
                <input type="text" name="institu-institution_3" class="large"
                  value="{{form_institu.institution_3.value|default_if_none:""}}">
                <input type="text" name="institu-institution_4" class="large"
                  value="{{form_institu.institution_4.value|default_if_none:""}}">
                <input type="text" name="institu-institution_5" class="large"
                  value="{{form_institu.institution_5.value|default_if_none:""}}">
              </div>
            </li>
            {% endif %}
            {% if field.name == "title" %}
              </ol>
              </fieldset>
              <fieldset class="blockLabels">
                <legend>
                    Co-Principal Investigators & Associated Institution
                </legend>
                <ol class="col-md-8">
                <li>
                <div class="col-md-3">
                  <h3>Name</h3>
                  <input type="text" name="investi-name_1" class="medium"
                    value="{{form_investi.name_1.value|default_if_none:""}}">
                  <input type="text" name="investi-name_2" class="medium"
                    value="{{form_investi.name_2.value|default_if_none:""}}">
                  <input type="text" name="investi-name_3" class="medium"
                    value="{{form_investi.name_3.value|default_if_none:""}}">
                  <input type="text" name="investi-name_4" class="medium"
                    value="{{form_investi.name_4.value|default_if_none:""}}">
                  <input type="text" name="investi-name_5" class="medium"
                    value="{{form_investi.name_5.value|default_if_none:""}}">
                </div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-4">
                  <h3>Institution</h3>
                  <input type="text" name="investi-institution_1" class="large"
                    value="{{form_investi.institution_1.value|default_if_none:""}}">
                  <input type="text" name="investi-institution_2" class="large"
                    value="{{form_investi.institution_2.value|default_if_none:""}}">
                  <input type="text" name="investi-institution_3" class="large"
                    value="{{form_investi.institution_3.value|default_if_none:""}}">
                  <input type="text" name="investi-institution_4" class="large"
                    value="{{form_investi.institution_4.value|default_if_none:""}}">
                  <input type="text" name="investi-institution_5" class="large"
                    value="{{form_investi.institution_5.value|default_if_none:""}}">
                </div>
                </li>
                </ol>
              </fieldset>
              <fieldset class="blockLabels">
                <legend>Proposal Overview</legend>
                <ol>
            {% endif %}
            {% include "form_field.inc.html" %}
          {% endfor %}
          </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
        </form>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-8 -->
</div>
<!-- /.row -->
{% endblock %}
