{% extends "home.html" %}
{% load livewhale_api %}
{% load ifusergroup %}
{% block content %}
<h2>Success</h2>
{% get_lw_content as done blurbs 2522 %}
<div id="lw_success_2522">{{done.body|safe}}</div>
{% ifusergroup osp_group %}
<p>
  <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=2522"
    target="_blank">
    <i class="fa fa-pencil green" aria-hidden="true"
    title="Manage the content above in LiveWhale"></i></a>
  <a href="#" data-cid="2522" data-target="lw_success_2522" class="clear-cache">
    <i class="fa fa-refresh green" aria-hidden="true"
    title="Clear the cache for this content"></i></a>
</p>
{% endifusergroup %}
{% endblock %}
