{% extends "proposal/form.html" %}
{% load livewhale_api %}
{% block extra_javascript %}
{{block.super}}
<script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js"
  type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function() {
    function binarySwitch(val, domids) {
        // binary switch to show/hide fields that depend on the value
        // of the previous question
        if (val == 'Yes') {
            for (index = 0; index < domids.length; ++index) {
                domids[index].slideDown();
            }
        }else{
            for (index = 0; index < domids.length; ++index) {
                domids[index].slideUp();
            }
        }
    }

    // Hide dependent fields that will appear when user makes a decision

    // Does this proposal partner with another institution?
    var $partner_institution = $('#id_partner_institution').closest('li');
    var $co_partner_institution = $('#id_co_partner_institution').closest('li');
    var $partner_institution_contact = $('#id_partner_institution_contact').closest('li');
    {% if form_funding.partner.value != 'Yes' %}
    $partner_institution.slideUp();
    $co_partner_institution.slideUp();
    $partner_institution_contact.slideUp();
    {% endif %}
    $('input[name=partner]').click(function(){
      var domArray = [
        $partner_institution,$co_partner_institution,
        $partner_institution_contact
      ]
      binarySwitch($(this).val(),domArray)
    })
    // Cost Match Requirement
    var $match_description = $('#id_match_description').closest('li');
    {% if form_funding.match_required.value != 'Yes' %}
    $match_description.slideUp();
    {% endif %}
    $('input[name=match_required]').click(function(){
      binarySwitch($(this).val(),[$match_description])
    });
    // Will funds support faculty/staff devoted to project?
    var $support_facstaff_info = $('#id_support_facstaff_info').closest('li');
    {% if form_funding.support_facstaff.value != 'Yes' %}
    $support_facstaff_info.slideUp();
    {% endif %}
    $('input[name=support_facstaff]').click(function(){
      binarySwitch($(this).val(),[$support_facstaff_info])
    });
    // Will funds support undergraduates?
    var $undergraduates_carthage = $('#id_undergraduates_carthage').closest('li');
    var $undergraduates_number = $('#id_undergraduates_number').closest('li');
    var $room_board = $('#id_room_board').closest('li');
    var $room_board_number = $('#id_room_board_number').closest('li');
    {% if form_funding.undergraduates.value != 'Yes' %}
    $undergraduates_carthage.slideUp();
    $undergraduates_number.slideUp();
    $room_board.slideUp();
    $room_board_number.slideUp();
    {% endif %}
    $('input[name=undergraduates]').click(function(){
      var domArray = [
        $undergraduates_carthage,$undergraduates_number,
        $room_board,$room_board_number
      ]
      binarySwitch($(this).val(),domArray)
    });
    // Will this proposal require course release or overload?
    var $course_release_details = $('#id_course_release_details').closest('li');
    {% if form_funding.course_release.value != 'Yes' %}
    $course_release_details.slideUp();
    {% endif %}
    $('input[name=course_release]').click(function(){
      binarySwitch($(this).val(),[$course_release_details])
    });
    // Will this proposal require hiring of new personnel?
    var $new_personnel_details = $('#id_new_personnel_details').closest('li');
    {% if form_funding.new_personnel.value != 'Yes' %}
    $new_personnel_details.slideUp();
    {% endif %}
    $('input[name=new_personnel]').click(function(){
      binarySwitch($(this).val(),[$new_personnel_details])
    });
    // Will this proposal result in purchase of major equipment,
    // including computers and software, or renovations?
    var $major_equipment_details = $('#id_major_equipment_details').closest('li');
    {% if form_funding.major_equipment.value != 'Yes' %}
    $major_equipment_details.slideUp();
    {% endif %}
    $('input[name=major_equipment]').click(function(){
      binarySwitch($(this).val(),[$major_equipment_details])
    });
    // jquery datepicker on all fields whose DOM ID
    // begins with id_ and ends with _date
    $('[id^=id_][id$=_date]').datepicker({
        firstDay:1,appendText:'(format yyyy-mm-dd)',
        changeFirstDay:false,dateFormat:'yy-mm-dd',
        showOn:'both',
        buttonImage:'//www.carthage.edu/themes/shared/img/ico/calendar.gif',
        buttonImageOnly:true
    });
  });
</script>
{% endblock %}
{% block extra_style %}
{{block.super}}
<link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
    rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Intent to Pursue Funding
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body" id="proposals-data-panel">
                    {% get_lw_content as intro blurbs 2433 %}
                    {{intro.body}}
                    {% include "includes/required_text.html" %}
                    {% include "includes/errors_text.html" %}
                    <form method="post" action="." class="form" id="profile">
                      {% csrf_token %}
                      <div>
                        <fieldset class="blockLabels">
                          <legend>Proposal</legend>
                          <dl style="margin-left:5px;">
                            <dt>Submitted by</dt>
                            <dd>
                              {{proposal.user.last_name}},
                              {{proposal.user.first_name}}
                            </dd>
                            <dt>Department</dt>
                            <dd>{{proposal.department}}</dd>
                            <dt>Date</dt>
                            <dd>{{proposal.created_at}}</dd>
                          </dl>
                          <ol>
                            {% for field in form_proposal.visible_fields %}
                              {% include "form_field.inc.html" %}
                            {% endfor %}
                          </ol>
                        </fieldset>
                      </div>
                      <div id="funding">
                        <fieldset class="blockLabels">
                          <legend>Funding</legend>
                          <ol>
                            {% for field in form_funding.visible_fields %}
                              {% if field.name == "sponsor_agency_name" %}
                                </ol></fieldset>
                                <fieldset class="blockLabels">
                                <legend>Sponsor Information</legend>
                                <ol>
                              {% endif %}
                              {% if field.name == "start_date" %}
                                </ol></fieldset>
                                <fieldset class="blockLabels">
                                <legend>Proposal and Budget Information</legend>
                                <ol>
                              {% endif %}
                              {% if field.name == "course_release" %}
                                </ol></fieldset>
                                <fieldset class="blockLabels">
                                <legend>Institutional Impact</legend>
                                <ol>
                              {% endif %}
                              {% if field.name == "support_facstaff_info" %}
                                <li class="form-group ctrlHolder" id="support_facstaff_info">
                                    <h3>{{ field.label_tag }}</h3>
                                    <div class="help">{{field.help_text}}</div>
                                    {% if field.errors %}
                                    <div class="required warning">
                                        <span class="error-message">{{ field.errors|join:", "}}</span>
                                    {% else %}
                                    <div{% if field.field.required %} class="required"{% endif %}>
                                    {% endif %}
                                    {{field}}
                                    </div>
                                </li>

                              {% else %}
                                {% include "form_field.inc.html" %}
                              {% endif %}
                            {% endfor %}
                          </ol>
                        </fieldset>
                      </div>
                      {% include "form_submit.inc.html" %}
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}
