{% extends "djdash/base.html" %}
{% load ifusergroup %}
{% block title %}
    Carthage College Grant Proposal Application &mdash;
    Office of Sponsored Programs &mdash;
    Carthage College
{% endblock %}
{% block extra_style %}
<link href="//www.carthage.edu/themes/shared/css/forms.css"
    rel="stylesheet" type="text/css" />
<style type="text/css">
.panel-body h2{background-color: #5594b9;color: white;padding: 4px;}
.row h1{color:#481676;}
.form h3 {margin-top: 0;}
h3.h3 {border-bottom: 1px solid black;margin-top: 0;padding-bottom:3px;}
h4, .h4 {margin-top: 20px;font-weight: 700;color:darkblue;}
h5, .h5 { color: #141823; }
hr {margin:16px 0 16px 0;border:1px solid #cacaca;}
form ol {padding-left:0;}
li.ctrlHolder div ul li {display:inline; padding-right:3px;}
li.ctrlHolder div ul.block li {display:inherit;}
.bg-danger { padding: 15px; }
.form ol li, .form ul li {
    list-style-type: none;
}
.form ol li, .form ul li {
    list-style-type: none;
}
.form ol.bullets li {
    list-style-type: decimal;
    margin-left:16px;
}
.fa-2x { font-size: 1.5em; }
.blue-tooltip + .tooltip > .tooltip-inner {background-color: #00f;}
#proposal-detail label:before {
color:#800; font-family: 'FontAwesome';content: "\f05e"; }
#proposal-detail :checked + label:before {
color:#080;font-family: 'FontAwesome';content: "\f00c"; }
#proposal-detail input, #goal-master {display: none;}
#proposal-detail h3 {margin-top:0; border-bottom: 1px dotted #000; }
#proposal-detail h4{ display:inline;}
#proposal-detail .panel-body {padding-top:0;}
.dependents { background-color: #f8f8f8;border: 1px solid #e7e7e7;
padding:5px;margin-bottom:9px;}
dl dt {
    background-color: #ddf3f3;
    color: #003c4b;
}
.dl-horizontal dt {
    width: 200px;
    text-align: left;
}
dl dd {
    margin: 2px 0 2px 5px;
}
dl.goals {width:100%;margin-bottom:0;}
dl.goals dt {background-color:transparent;width:25%;}
dl.goals dd {width:65%;float:left;}
dl.goals dt select {width:80%;}
dl.goals dd textarea {width:100%;height:80px;}
.dashintro {padding-top:20px;}
.red { font-weight:bold; color:#800;}
.green { font-weight:bold; color:#080; }
.grey { font-weight:bold; color:#cacaca; }
.yellow { font-weight:bold; color:#e6b800; }
.table-hover > tbody > tr:hover > td.minor { background-color: #ccf; }
.table-striped > tbody > tr:nth-child(2n+1) > td.minor {
    background-color: #ccf;
}
.detail {font-weight:bold;text-decoration:underline;padding-top:12px;}
.header {font-weight:bold;padding:4px 0 4px 4px;background-color:aliceblue !important;}
div.DTTT {
float: right;
margin-bottom: 1em;
position: relative;
}
.input-group .form-control {
    width: 80%;
}
.blockOverlay{z-index:10000 !important;}
.ui-widget-overlay{opacity:.5;}
.ui-dialog{z-index:10010 !important;}
.ui-dialog-content {padding:7px;}
.ui-dialog-titlebar{padding:3px;}
.ctrlcx {width:36px;float:right;}
div.growlUI {
    background: url(//www.carthage.edu/assets/img/ico/information.png) no-repeat 10px 10px;
    height:90px;
}
div.growlUI h1, div.growlUI h2 {
    font-size: 1.4em; color: white;
    padding: 5px 5px 5px 75px; text-align: left
}
div.growlUI { background: url(//www.carthage.edu/themes/shared/img/ico/check48.png) no-repeat 10px 10px; margin-top:60px; }
div.growlUI h1, div.growlUI h2 {
color: white; padding: 5px 5px 5px 75px; text-align: left;
font-size:1.4em;}
table.dataTable > tbody > tr:hover > td.minor { background-color: #ccf; }
table.dataTable > tbody > tr:nth-child(2n+1) > td.minor { background-color: #ccf; }
table.dataTable > tbody tr.selected { background-color: #b0bed9 !important; }
table.dataTable > tbody tr:nth-child(even):hover td{ background-color: #fae7b5 !important; }
table.dataTable > tbody tr:nth-child(odd):hover td { background-color: #fae7b5 !important; }

.dataTables_wrapper .dataTables_paginate {
    padding-top: 0;
}
.dataTables_wrapper .pagination {
    margin: 0;
}
.dataTables_wrapper .dataTables_length {
    padding-left: 0.755em;
    padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_info {
    padding-top: 1.11em;
}
.btn-block {
    width: 20%;
}
.navbar-static-side { width: 170px; }
@media (min-width: 768px) {
    #page-wrapper { margin: 0 0 0 170px; }
}
@media print {
#page-wrapper{margin:0;}
.update-icon{display:none;}
}
</style>
{% endblock %}
{% block jquery %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"
    type="text/javascript"></script>
{% endblock %}
{% block navbar-header %}
    <div class="navbar-header">
        <a href="/" style="float:left;">
            <img src="https://www.carthage.edu/themes/korra/assets/images/carthage-logo-main.png" height="50">
        </a>
        <a class="navbar-brand"
            href="https://www.carthage.edu/sponsored-programs/">
            Office of Sponsored Programs
        </a>
    </div>
{% endblock %}
{% block navbar-top-links %}
    <ul class="nav navbar-top-links navbar-right">
        {% block manager %}{% endblock %}
        <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{user.first_name}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li class="divider"></li>
                <li>
                    {% if user.is_anonymous %}
                    <a href="{% url 'auth_login' %}">
                        <i class="fa fa-sign-in"></i> Sign In
                    </a>
                    {% else %}
                    <a href="{% url 'auth_logout' %}">
                        <i class="fa fa-sign-out"></i> Sign Out
                    </a>
                    {% endif %}
                </li>
            </ul>
        </li>
        <!-- /.dropdown-user -->
    </ul>
{% endblock %}
{% block navbar-static-side %}
<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{% url 'home' %}" title="Proposals List">
                    <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                    {% ifusergroup osp_group %}All{% else %}
                    {% if dean_chair %}All{% else %}My{% endif %}
                    {% endifusergroup %}
                    Proposals
                </a>
            </li>
            <li>
                <a href="{% url 'proposal_form' %}" title="Submit a proposal">
                  <i class="fa fa-wpforms fa-fw" aria-hidden="true"></i>
                  Submit Proposal
                </a>
            </li>
            {% if user.is_superuser %}
            <li>
                <a href="{% url 'admin:index' %}" title="Administration">
                  <i class="fa fa-tachometer fa-fw" aria-hidden="true"></i>
                  Administration
                </a>
            </li>
            {% endif %}
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
{% endblock %}
{% block content %}
{% endblock content %}
{% block extra_javascript %}
<script>
$(function() {
  $('[data-toggle="tooltip"]').tooltip();
  $(".required > input").addClass("required");
  $(".required > select").addClass("required");
  $(".required > textarea").addClass("required");
  $(".warning > input").addClass("error");
  $(".warning > select").addClass("error");
  $(".warning > textarea").addClass("error");
  $(".required > ul").parent().parent().find('h3').addClass("required");
  $('#olvidado').click(function(e) {
    e.preventDefault();
    $('div#form-olvidado').toggle('500');
  });
  $('#acceso').click(function(e) {
    e.preventDefault();
    $('div#form-olvidado').toggle('500');
  });
  $('#print').click(function() {
    window.print();
    return false;
  });
});
</script>
{% endblock %}
