{% load ifusergroup %}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTable display proposals-data">
        <thead>
            <tr>
                <th>
                  Title
                  <i class="fa fa-eye green" title="View Proposal"
                    aria-hidden="true"></i> /
                  <i class="fa fa-print green" aria-hidden="true"></i></a>
                </th>
                <th>Step I</th>
                <th>Step II</th>
                <th>
                  Submitted by
                  {% ifusergroup 'Sponsored Programs' %}
                  <i class="fa fa-envelope-o green" aria-hidden="true"
                    title="Send email to primary investigator"></i>
                  {% endifusergroup %}
                </th>
                <th>
                  Department
                  {% ifusergroup 'Sponsored Programs' %}
                  <i class="fa fa-thumbs-o-up green" aria-hidden="true"
                    title="Add Approver to this proposal"></i>
                  {% endifusergroup %}
                </th>
                <th>Creation Date</th>
            </tr>
        </thead>
        <tbody>
        {% for p in proposals %}
          <tr>
            <td>
              <a href="{% url 'proposal_detail' p.id %}"
                title="View proposal">{{p.title}}</a>
            </td>
            <td style="text-align:center;">
            {% if p.division_approved %}
              <a href="{% url 'proposal_update' p.id %}">
                  <i class="fa fa-pencil-square-o" title="Update Step I"
                    aria-hidden="true"></i>
              </a>
            {% else %}
              <i class="fa fa-times red" aria-hidden="true"></i>
            {% endif %}
            </td>
            <td style="text-align:center;">
            {% if p.division_approved %}
              <a href="{# url 'impact_form' p.id #}">
                  <i class="fa fa-pencil-square-o" title="Update Step II"
                    aria-hidden="true"></i>
              </a>
            {% else %}
              <i class="fa fa-times red" aria-hidden="true"></i>
            {% endif %}
            </td>
            <td>
              {% ifusergroup 'Sponsored Programs' %}
              <a href="{% url 'email_investigator_form' p.id 'compose' %}"
                title="Send email to primary investigator">
                {{p.user.last_name}}, {{p.user.first_name}}
              </a>
              {% else %}
              {{p.user.last_name}}, {{p.user.first_name}}
              {% endifusergroup %}
            </td>
            <td>
              {% ifusergroup 'Sponsored Programs' %}
              <a href="{% url 'proposal_approver' p.id %}"
                title="Add Approver to this proposal">
                {{p.department}}
              </a>
              {% else %}
                {{p.department}}
              {% endifusergroup %}
            </td>
            <td>{{p.created_at}}</td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>
                  Title
                  <i class="fa fa-eye green" title="View Proposal"
                    aria-hidden="true"></i>
                  <i class="fa fa-print green" aria-hidden="true"></i></a>
                </th>
                <th>Step I</th>
                <th>Step II</th>
                <th>
                  Submitted by
                  {% ifusergroup 'Sponsored Programs' %}
                  <i class="fa fa-envelope-o green" aria-hidden="true"
                    title="Send email to proposal owner"></i>
                  {% endifusergroup %}
                </th>
                <th>
                  Department
                  {% ifusergroup 'Sponsored Programs' %}
                  <i class="fa fa-thumbs-o-up green" aria-hidden="true"
                    title="Add Approver to this proposal"></i>
                  {% endifusergroup %}
                </th>
                <th>Creation Date</th>
            </tr>
        </tfoot>
    </table>
</div>
<!-- /.table-responsive -->
