{% extends "base.html" %}
{% load ifusergroup %}
{% load livewhale_api %}
{% block extra_javascript %}
{{ block.super }}
<script type="text/javascript">
$(function() {
  $(document).on('click','.proposal-status',function(e){
    e.preventDefault();
    var $dis = $(this);
    var $pid = $dis.data('pid');
    var $sitrep = $dis.data('status');
    $.ajax({
      type: 'POST',
      url: '{% url "proposal_status" %}',
      data: {'status':$sitrep,'pid':$pid},
      cache: false,
      success: function(data) {
        alert(data);
        location.reload();
      },
      error: function(data) {
        $.growlUI('Error', data);
      }
    });
  });
});
</script>
{% endblock %}
{% block navbar-header %}
<a href="{% url 'home' %}" class="mr-sm-3 mr-lg-3">
  <i class="fa fa-home fa-2x"></i></a>
<a class="navbar-brand" href="{{root_url}}">Office of Sponsored Programs</a>
{% endblock %}
{% block navbar-top-links %}
  <ul class="navbar-nav ml-auto">
    <li class="dropdown user-dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user"></i> {{user.first_name|default:"Dashboard"}}
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li class="divider"></li>
        <li>
          {% if user.is_anonymous %}
          <a href="{% url 'auth_login' %}">
            <i class="fa fa-sign-in"></i> Sign In
          </a>
          {% else %}
          <a href="{% url 'auth_logout' %}">
            <i class="fa fa-sign-out"></i> Sign Out
          </a>
          {% endif %}
        </li>
      </ul>
    </li>
  </ul>
{% endblock navbar-top-links %}
{% block navbar-sidenav %}
<ul class="navbar-nav navbar-sidenav">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Submit a proposal">
    <a class="nav-link" href="{% url 'proposal_form' %}" title="Submit a proposal">
      <i class="fa fa-fw fa fa-wpforms" aria-hidden="true"></i>
      <span class="nav-link-text">Submit Proposal</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My Propoals">
    <a class="nav-link" href="{% url 'home' %}" title="Proposals List">
      <i class="fa fa-fw fa fa-dashboard" aria-hidden="true"></i>
      <span class="nav-link-text">Proposals</span>
    </a>
  </li>
  {% if user.is_superuser or user.profile.css %}
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Administration">
    <a class="nav-link" href="{% url 'admin:index' %}">
      <i class="fa fa-fw fa fa-cog" aria-hidden="true"></i>
      <span class="nav-link-text">Administration</span>
    </a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link text-center" data-toggle="tooltip" data-placement="right" title="Expand Menu" id="sidenavToggler">
      <i class="fa fa-fw fa-angle-double-left" aria-hidden="true"></i>
    </a>
  </li>
</ul>
<ul class="navbar-nav sidenav-toggler">
  <li class="nav-item">
    <a class="nav-link text-center">
      <i class="fa fa-fw"></i>
    </a>
  </li>
</ul>
{% endblock navbar-sidenav %}
{% block breadcrumb %}
<div class="row" id="alert-container">
  {% if messages %}
    {% for message in messages %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
      <div class="alert p-3 {{message.tags}}">
        <strong>{{ message }}</strong>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>
<!-- /.row -->
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1>Proposals</h1>
    <div class="btn-group fright" style="margin-left:18px;margin-bottom:12px;">
      <a href="{% url 'proposal_form' %}" class="btn btn-default btn-primary p-2">Submit Proposal</a>
    </div>
    <div class="col-lg-8" style="font-weight:bold;">
      {% get_lw_content as intro blurbs 2433 %}
      <div id="lw_success_2433">{{intro.body|safe}}</div>
      {% if osp %}
      <p>
        <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=14&id=2433"
          target="_blank">
          <i class="fa fa-pencil green" aria-hidden="true"
          title="Manage the content above in LiveWhale"></i></a>
        <a href="#" data-cid="2433" data-target="lw_success_2433" class="clear-cache">
          <i class="fa fa-refresh green" aria-hidden="true"
          title="Clear the cache for this content"></i></a>
      </p>
      {% endif %}
      <p>NOTE: Hover over icons and links to see more information.</p>
    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body" id="proposals-data-panel">
        {% include "data.inc.html" %}
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock content %}
{% block footer %}
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="deleteModalLabel">Confirm Delete</h4>
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
        </div>
      <div class="modal-body">
        <p>
          You are about to delete a <strong class="object-title"></strong>.
        </p>
        <p>Would you like to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <a class="btn btn-danger btn-ok text-white">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
