{% extends "base.html" %}
{% load livewhale_api %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>
                {% if not dean_chair %}
                  {% if not group %}
                    {{user.first_name}}'s
                  {% else %}
                    All
                  {% endif %}
                {% else %}
                  {% if dc == "dean" %}
                    {{div}}
                  {% else %}
                    {% for k,v in depts.items %}
                      {{v.dept_name}}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  {% endif %}
                {% endif %}
                Proposals
            </h1>
            <p class="fright">
              <a href="{% url 'proposal_form' %}">Submit a proposal</a>
            </p>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <div style="width:50%;font-weight:bold;">
                    {% get_lw_content as intro blurbs 2433 %}
                    {{intro.body}}
                  </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" id="proposals-data-panel">
                    {% include "data.inc.html" %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock content %}
