{% extends "proposal/email_approve.html" %}
{% load livewhale_api %}
{% load ifusergroup %}
{% block message %}
{% get_lw_content as email blurbs 2555 %}
{{email.body|safe}}
{% ifusergroup osp_group %}
  <p>
    <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=2555"
      target="_blank">Manage the content above in LiveWhale></a><br>
    <a href="https://{{server_url}}{% url 'clear_cache_get' %}?cid=2555" class="clear-cache">
      Clear the cache for this content</a>
  </p>
{% endifusergroup %}
{% endblock %}
{% block proposal %}
  <h3>
    <a href="{{data.get_absolute_url}}">
      Click here to approve and certify</a>.
  </h3>
{% if data.to_list %}
to_list = {{data.to_list}}
{% endif %}
{% endblock %}
