{% extends "impact/email_approve_approvers.html" %}
{% load livewhale_api %}
{% block message %}
{% get_lw_content as email blurbs 2249 %}
{{email.body|safe}}
{% if data.to_list %}
  <p>
    <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=2249"
      target="_blank">Manage the content above in LiveWhale</a><br>
    <a href="https://{{server_url}}{% url 'clear_cache_get' %}?cid=2249" class="clear-cache">
      Clear the cache for this content</a>
  </p>
to_list = {{data.to_list}}
{% endif %}
{% block proposal %}{% endblock %}
{% endblock %}
