{% extends "home.html" %}
{% load livewhale_api %}
{% block extra_javascript %}
{{block.super}}
<script src="//www.carthage.edu/static/vendor/summernote/summernote.min.js"
  type="text/javascript" charset="utf-8"></script>
<script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js"
  type="text/javascript" charset="utf-8"></script>
<script src="https://malsup.github.io/min/jquery.blockUI.min.js"
    type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $('#id_comments-comments').summernote({height: 200});
    var copies = {{copies|default:1}};
    $("#clone").click(function () {
        if (copies < 8) {
            copies++;
            newId = 'doop-' + copies;
            $('#goal-master').clone().attr('id',newId).appendTo('#duplicates');
            $('#' + newId).find('select').attr('name','goal-name_' + copies);
            $('#' + newId).find('textarea').attr('name','goal-description_' + copies);
            $.growlUI('Goals: ', copies);
        }else{
            $.growlUI('Warning', 'Goals Limit: 8');
        }
    });
    $("#destroy").click(function () {
        if (copies > 1) {
            delid = 'doop-' + copies;
            console.log(delid);
            $('#doop-' + copies ).remove();
            copies--;
            $.growlUI('Goals: ', copies);
        }else{
            $.growlUI('Warning', 'No Goals to delete');
        }
    });
    // jquery datepicker on all fields whose DOM ID
    // begins with id_ and ends with _date
    $('[id^=id_][id$=_date]').datepicker({
        firstDay:1,appendText:'(format yyyy-mm-dd)',
        changeFirstDay:false,dateFormat:'yy-mm-dd',
        showOn:'both',
        buttonImage:'//www.carthage.edu/themes/shared/img/ico/calendar.gif',
        buttonImageOnly:true
    });
    $('[type="submit"]').on('click', function () {
        if ($(this).attr('id') == 'id_submit') {
            $('#id_save_submit').val('true');
        }
    });
    // disable submit button after users clicks it
    //$('form#profile').bind('submit', function (e) {
    $('form#profile').on('submit', function (e) {
        $('#id_submit').prop('disabled', true);
        //return false;
        return true;
    });
  });
</script>
{% endblock %}
{% block extra_style %}
    {{block.super}}
    <link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
        rel="stylesheet" type="text/css" />
    <link href="//www.carthage.edu/static/vendor/summernote/summernote.css"
        rel="stylesheet" type="text/css" />
    <style type="text/css">
    .note-editor{
        width:500px;background: #fff;
        border: solid 1px #ccc;
    }
    li.ctrlHolder div ul.ul-block li {
        font-weight:bold;color:#8a1f11;display:block;
        list-style-type:disc;
    }
    li.ctrlHolder div ul.ul-block li:before {
        content: "• ";
        color: #8a1ff1;
    }
    form.form h3 {font-size:18px;margin-bottom:3px;}
    form.form fieldset ol li.details {background-color:#efefef !important;}
    </style>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-8">
    <h1 class="page-header">
      Routing & Authorization: Part B &mdash; Authorization to Submit
    </h1>
    {% if messages %}
      {% for message in messages %}
        <div id="messages" class="{{ message.tags }} large-12 medium-12 small-12">
        <strong>{{ message }}</strong>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-body" id="proposals-data-panel">
        {% if form_impact.errors or form_budget.errors or form_doc1.errors or form_doc2.errors or form_doc3.errors %}
        <p class="error">
        Please correct the errors below.
        </p>
        {% endif %}
        {% get_lw_content as intro blurbs 2501 %}
        {{intro.body}}
        {% include "includes/required_text.html" %}
        <form method="post" enctype="multipart/form-data" action="."
          class="form" id="profile">
        {% csrf_token %}
        <input type="hidden" id="id_save_submit" name="save_submit" value="">
        <fieldset class="blockLabels">
          <legend>Budget and Budget Narrative</legend>
          {% get_lw_content as intro blurbs 2516 %}
          {{intro.body}}
          <ol>
          {% for field in form_budget.visible_fields %}
            {% include "form_field.inc.html" %}
            {% if field.name == "cost_match_amount" %}
              {% get_lw_content as help blurbs 2502 %}
              {{help.body}}
            {% endif %}
          {% endfor %}
          </ol>
        </fieldset>
        <fieldset class="blockLabels">
          <legend>Institutional/Compliance Impacts</legend>
          <ol>
          {% for field in form_impact.visible_fields %}
            {% if field.name != 'disclosure_assurance' %}
            {% include "form_field.inc.html" %}
            {% endif %}
          {% endfor %}
          </ol>
        </fieldset>
        <fieldset class="blockLabels">
          <legend>Project Goals</legend>
          <div>
            Click on the "plus" symbol to add goals, and
            use the "minus" symbol to remove goals.
            <div class="ctrlcx">
              <a href="javascript:void" id="clone"><i class="fa fa-plus-circle fa-lg green" aria-hidden="true"></i></a>
              <a href="javascript:void" id="destroy"><i class="fa fa-minus-circle fa-lg red" aria-hidden="true"></i></a>
            </div>
          </div>
          <div id="duplicates">
            {% if goals %}
              {% for g in goals %}
              <dl class="goals" id="doop-{{forloop.counter}}">
              <dt>
                <select name="goal-name_{{forloop.counter}}">
                  <option value="" selected>----------------</option>
                  {% for c in goal_choices %}
                    <option value="{{c}}"{% if g.name == c %} selected{% endif %}>
                    {{c}}
                    </option>
                  {% endfor %}
                </select>
              </dt>
              <dd>
                <textarea name="goal-description_{{forloop.counter}}">{{g.description}}</textarea>
              </dd>
              {% endfor %}
            {% else %}
              <dl class="goals" id="doop-1">
              <dt>
                <select name="goal-name_1">
                  <option value="" selected="">----------------</option>
                  <option value="Goal"> Goal </option>
                  <option value="Objective"> Objective </option>
                  <option value="Outcome"> Outcome </option>
                  <option value="Priority"> Priority </option>
                </select>
              </dt>
              <dd>
                <textarea name="goal-description_1"></textarea>
              </dd>
            </dl>
            {% endif %}
          </div>
        </fieldset>
        <fieldset class="blockLabels">
          <legend>Additional Information</legend>
          <ol>
          {% for field in form_comments.visible_fields %}
            {% include "form_field.inc.html" %}
          {% endfor %}
          </ol>
          <h3>Documents</h3>
          <ol>
          {% for field in form_doc1.visible_fields %}
            {% include "form_file_field.inc.html" %}
          {% endfor %}
          </ol>
          <hr>
          <ol>
          {% for field in form_doc2.visible_fields %}
            {% include "form_file_field.inc.html" %}
          {% endfor %}
          </ol>
          <hr>
          <ol>
          {% for field in form_doc3.visible_fields %}
            {% include "form_file_field.inc.html" %}
          {% endfor %}
          </ol>
        </fieldset>
        <fieldset class="blockLabels">
          {% get_lw_content as disclosure blurbs 2513 %}
          {{disclosure.body}}
          <ol style="padding-bottom:24px;">
            <li class="form-group ctrlHolder">
              {% if form_impact.disclosure_assurance.errors %}
              <div class="required warning">
                <span class="error-message">
                  {{ form_impact.disclosure_assurance.errors|join:", "}}
                </span>
              {% else %}
              <div class="required">
              {% endif %}
                <input name="impact-disclosure_assurance" type="checkbox"
                id="id_impact-disclosure_assurance"
                {% if form_impact.disclosure_assurance.value %}checked{% endif %}>
              </div>
            </li>
          </ol>
          <hr>
          <ol>
            <li>
              <label for="id_save" style="display:none;">
                Save
              </label>
              <input value="Save my work" type="submit"
                class="button blue-tooltip" id="id_save"
                data-toggle="tooltip" data-placement="top"
                title="Save your work but DO NOT SUBMIT for approval">
              <label for="id_submit" style="display:none;">
                Save and Submit Part B
              </label>
              <input value="Save &amp; Submit" type="submit"
                class="button blue-tooltip fright" id="id_submit"
                data-toggle="tooltip" data-placement="top"
                title="Save your work and SUBMIT the entire proposal for approval">
            </li>
          </ol>
        </fieldset>
        </form>
        <dl class="goals" id="goal-master">
          <dt>
            <select name="goal-name">
              <option value="" selected="">----------------</option>
                <option value="Goal"> Goal </option>
                <option value="Objective"> Objective </option>
                <option value="Outcome"> Outcome </option>
                <option value="Priority"> Priority </option>
            </select>
          </dt>
          <dd>
            <textarea name="goal-description"></textarea>
          </dd>
        </dl>
      <div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-8 -->
</div>
<!-- /.row -->
{% endblock %}
