{% extends "home.html" %}
{% load livewhale_api %}
{% block extra_javascript %}
{{block.super}}
<script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js"
  type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function() {
    $("li[id$='_detail']").addClass("hyde");
    $("input:radio:checked").each(function(d){
      $val = $(this).val();
      if ($val == 'Yes' || $val.includes('Student')) {
        $li = "#" + $(this).attr('name') + "_detail";
        $($li).removeClass("hyde");
      }
    });
    $("input:radio").change(function(){
      $val = $(this).val();
      $ta = "#" + $(this).attr('name') + "_detail";
      if ($val == 'Yes' || $val.includes('Student')) {
        $($ta).removeClass("hyde");
      } else {
        $($ta).addClass("hyde");
      }
    });
    // jquery datepicker on all fields whose DOM ID
    // begins with id_ and ends with _date
    $('[id^=id_][id$=_date]').datepicker({
        firstDay:1,appendText:'(format yyyy-mm-dd)',
        changeFirstDay:false,dateFormat:'yy-mm-dd',
        showOn:'both',
        buttonImage:'//www.carthage.edu/themes/shared/img/ico/calendar.gif',
        buttonImageOnly:true
    });
    /* Budget funding sources */
    // number of funding sources
    var sources = {{sources|length|default:1}};
    $(".clone").click(function () {
        if (sources < 5) {
            sources++;
            newId = "doop-" + sources;
            $("#doop-master").clone().attr("id",newId).appendTo("#duplicates");
            $.growlUI('Funding Sources: ', sources);
        }else{
            $.growlUI('Warning', 'Funding Sources Limit: 5');
        }
    });
    // remove funding source
    $('#duplicates').on("click", ".destroy-funding-source", function() {
        if (sources > 1) {
            sources--;
            $(this).parent().parent().remove();
            $.growlUI('Funding Sources: ', sources);
        }else{
            $.growlUI('Warning', 'No Funding Sources to delete');
        }
    });
    /* End budget fudning sources */
    $('[type="submit"]').on('click', function () {
        if ($(this).attr('id') == 'id_submit') {
            $('#id_save_submit').val('true');
        }
    });
    // disable submit button after users clicks it
    //$('form#profile').bind('submit', function (e) {
    $('form#profile').on('submit', function (e) {
        $('#id_submit').prop('disabled', true);
        //return false;
        return true;
    });
  });
</script>
{% endblock %}
{% block extra_style %}
    {{block.super}}
    <link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
        rel="stylesheet" type="text/css" />
    <style type="text/css">
    .note-editor{
        width:500px;background: #fff;
        border: solid 1px #ccc;
    }
    li.ctrlHolder div ul.ul-block li {
        font-weight:bold;color:#8a1f11;display:block;
        list-style-type:disc;
    }
    li.ctrlHolder div ul.ul-block li:before {
        content: "• ";
        color: #8a1ff1;
    }
    form.form h3 {font-size:18px;margin-bottom:3px;}
    form.form fieldset ol li.details {background-color:#efefef !important;}
    </style>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-8">
    <h1 class="page-header">
        Routing & Authorization: Part B &mdash;<br>Authorization to Submit
    </h1>
    {% if messages %}
      {% for message in messages %}
        <div id="messages" class="{{ message.tags }} large-12 medium-12 small-12">
        <strong>{{ message }}</strong>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-body" id="proposals-data-panel">
        {% if form_impact.errors or form_budget.errors or form_doc1.errors or form_doc2.errors or form_doc3.errors %}
        <p class="error">
        Please correct the errors below.
        </p>
        {% endif %}
        {% get_lw_content as intro blurbs 2501 %}
        <div id="lw_success_2501">{{intro.body|safe}}</div>
        {% if osp %}
        <p>
          <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=2501"
            target="_blank">
            <i class="fa fa-pencil green" aria-hidden="true"
            title="Manage the content above in LiveWhale"></i></a>
          <a href="#" data-cid="2501" data-target="lw_success_2501" class="clear-cache">
            <i class="fa fa-refresh green" aria-hidden="true"
            title="Clear the cache for this content"></i></a>
        </p>
        {% endif %}
        {% include "includes/required_text.html" %}
        <form method="post" enctype="multipart/form-data" action="."
          class="form" id="profile">
        {% csrf_token %}
        <input type="hidden" id="id_save_submit" name="save_submit" value="">
        <fieldset class="blockLabels">
          <legend>Budget and Budget Justification</legend>
          {% get_lw_content as intro blurbs 2516 %}
          <div id="lw_success_2516">{{intro.body|safe}}</div>
          {% if osp %}
          <p>
            <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=2516"
              target="_blank">
              <i class="fa fa-pencil green" aria-hidden="true"
              title="Manage the content above in LiveWhale"></i></a>
            <a href="#" data-cid="2516" data-target="lw_success_2516" class="clear-cache">
              <i class="fa fa-refresh green" aria-hidden="true"
              title="Clear the cache for this content"></i></a>
          </p>
          {% endif %}
          <ol>
          {% for field in form_budget.visible_fields %}
            {% include "form_field.inc.html" %}
            {% if field.name == "total_funding" %}
              {% get_lw_content as help blurbs 2502 %}
              <div id="lw_success_2502">{{help.body|safe}}</div>
              {% if osp %}
              <p>
                <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=2502"
                  target="_blank">
                  <i class="fa fa-pencil green" aria-hidden="true"
                  title="Manage the content above in LiveWhale"></i></a>
                <a href="#" data-cid="2502" data-target="lw_success_2502" class="clear-cache">
                  <i class="fa fa-refresh green" aria-hidden="true"
                  title="Clear the cache for this content"></i></a>
              </p>
              {% endif %}
              <div class="row mb-2">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                  Click on the
                  <img src="//www.carthage.edu/assets/img/ico/silk/icons/add.png"
                    style="margin-bottom:-3px;"> icon to add funding sources.<br>
                  Click on the
                  <img src="//www.carthage.edu/assets/img/ico/silk/icons/delete.png"
                    style="margin-bottom:-3px;"> icon to remove funding sources.
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ml-1 align-bottom">
                  <br>
                  <img class="clone float-right" src="//www.carthage.edu/assets/img/ico/silk/icons/add.png">
               </div>
              </div>
              <div class="row mb-2">
               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Amount
               </div>
               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Source
               </div>
               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Status
               </div>
              </div>
              {% with doop="doop-master" %}
                {% include "impact/funding.inc.html" %}
              {% endwith %}
              <div id="duplicates" class="mb-2">
              {% if sources %}
                {% for source in sources %}
                  {% include "impact/funding.inc.html" %}
                {% endfor %}
              {% else %}
                {% with doop="doop_1" %}
                  {% include "impact/funding.inc.html" %}
                {% endwith %}
              {% endif %}
              </div>
            {% endif %}
          {% endfor %}
          </ol>
        </fieldset>
        <fieldset class="blockLabels">
          <legend>Institutional Impacts</legend>
          <ol>
          {% for field in form_impact.visible_fields %}
            {% if field.name == "international" %}
              {% get_lw_content as help blurbs 2885 %}
              <div id="lw_success_2885">{{help.body|safe}}</div>
              {% if osp %}
              <p>
                <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=2885"
                  target="_blank">
                  <i class="fa fa-pencil green" aria-hidden="true"
                  title="Manage the content above in LiveWhale"></i></a>
                <a href="#" data-cid="2885" data-target="lw_success_2885" class="clear-cache">
                  <i class="fa fa-refresh green" aria-hidden="true"
                  title="Clear the cache for this content"></i></a>
              </p>
              {% endif %}
            {% endif %}

            {% if field.name != 'disclosure_assurance' and field.name != 'admin_comments'  %}
              {% with dominatrix=field.name %}
                {% include "form_field.inc.html" %}
              {% endwith %}
            {% endif %}
          {% endfor %}
          </ol>
        </fieldset>
        <fieldset class="blockLabels">
          <legend>Additional Information</legend>
          <ol>
          {% for field in form_comments.visible_fields %}
            {% include "form_field.inc.html" %}
          {% endfor %}
          </ol>
          <h3>Documents</h3>
          <ol>
          {% for field in form_doc1.visible_fields %}
            {% include "form_file_field.inc.html" %}
          {% endfor %}
          </ol>
          <ol>
          {% for field in form_doc2.visible_fields %}
            {% include "form_file_field.inc.html" %}
          {% endfor %}
          </ol>
          <ol>
          {% for field in form_doc3.visible_fields %}
            {% include "form_file_field.inc.html" %}
          {% endfor %}
          </ol>
        </fieldset>
        <fieldset class="blockLabels">
          <ol style="padding-bottom:24px;">
            {% if perms.approve %}
            <li class="form-group ctrlHolder">
                <h3><label for="id_admin_comments">Admin comments</label></h3>
                <div>
                <p class="help">
                Provide any administrative comments that you might want
                others to consider.
                </p>
                <textarea name="admin_comments" rows="10" cols="40" id="id_admin_comments">{{form_impact.admin_comments.value|default_if_none:''}}</textarea>
                </div>
            </li>
            {% endif %}
            <li class="form-group ctrlHolder">
              {% get_lw_content as disclosure blurbs 2513 %}
              <div id="lw_success_2513">{{disclosure.body|safe}}</div>
              {% if osp %}
              <p>
                <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=2513"
                  target="_blank">
                  <i class="fa fa-pencil green" aria-hidden="true"
                  title="Manage the content above in LiveWhale"></i></a>
                <a href="#" data-cid="2513" data-target="lw_success_2513" class="clear-cache">
                  <i class="fa fa-refresh green" aria-hidden="true"
                  title="Clear the cache for this content"></i></a>
              </p>
              {% endif %}
              {% if form_impact.disclosure_assurance.errors %}
              <div class="required warning">
                <span class="error-message">
                  {{ form_impact.disclosure_assurance.errors|join:", "}}
                </span>
              {% else %}
              <div class="required">
              {% endif %}
                <input name="disclosure_assurance" type="checkbox"
                id="id_disclosure_assurance"
                {% if form_impact.disclosure_assurance.value %}checked{% endif %}>
              </div>
            </li>
          </ol>
          <ol>
            <li>
              <label for="id_save" style="display:none;">
                Save
              </label>
              <input value="Save my work" type="submit"
                class="button blue-tooltip" id="id_save"
                data-toggle="tooltip" data-placement="top"
                title="Save your work but DO NOT SUBMIT for approval">
              <label for="id_submit" style="display:none;">
                Save and Submit Part B
              </label>
              <input value="Save &amp; Submit" type="submit"
                class="button blue-tooltip fright" id="id_submit"
                data-toggle="tooltip" data-placement="top"
                title="Save your work and SUBMIT the entire proposal for approval">
            </li>
          </ol>
        </fieldset>
        </form>
      <div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-8 -->
</div>
<!-- /.row -->
{% endblock %}
